{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h1>Data caching</h1>
        <p> Welcome to the home page! </p>

        <form class="row justify-content-between mt-5 g-3" id="myForm" data-csrf-token="{{csrf_token}}">
            <div class="col-auto">
                <input type="text" class="form-control" id="channel_id" placeholder="Channel">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirm</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script>
    // now format the duration in hh:mm:ss
    const parseDuration = (duration) => {
        parsedDuration = moment.duration(duration).asSeconds();
        const formattedDuration = moment.utc(parsedDuration * 1000).format('HH:mm:ss');
        return formattedDuration;
    }

    console.log(parseDuration('PT2H16M18S'));


    document.getElementById('myForm').addEventListener('submit', async (e) => {
        e.preventDefault();

        const csrfToken = e.target.dataset.csrfToken
        let channelIdInput = document.getElementById("channel_id");

        try {
            const response = await fetch('/api/v1/channels/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    channel_id: channelIdInput.value
                })

            });

            const data = await response.json();
            console.log(data);
        } catch (error) {
            console.error(error);
        }
    });
</script>


{% endblock scripts %}