{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h1>Data caching</h1>
        <p> Welcome to the home page! </p>

        <form class="row justify-content-between mt-5 g-3">
            <div class="col-auto">
                <input type="text" class="form-control" id="channel_id" placeholder="Channel">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirm</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}